:root {

}

html, body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template: 10% 70% 10% / 5% 90% 5%;
    grid-template-areas:
                    "header-area header-area header-area"
                    ". body-area ."
                    "footer-area footer-area footer-area";
    grid-gap: .5rem;
}

.heading-container {
    grid-area: header-area;
}
.main-body-container {
    grid-area: body-area;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    background-color: burlywood;
    overflow: scroll;
}
.footer-container {
    grid-area: footer-area;
    /*will change height later*/
    height: 10rem;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.single-movie-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    width: 22rem;
    height: 10rem;
    background-color: azure;
    border-radius: .4rem;
    text-align: left;
    transition: .4s ease;
}
.single-movie-container:hover {
    background-color: green;
    color: white;
}
.small-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    text-align: left;
    margin-left: 1rem;
}
.movie-title, .movie-rating, .movie-id {
    margin: .5rem;
}
.movie-title {
    font-size: 1.4rem;
    /*text-wrap: normal;*/
    /*width: 70%;*/
}
.movie-img-small {
    height: 150px;
    width: 100px;
    margin-left: auto;
    margin-right: 1rem;
}


.fa-star {
    color: gold;
    filter: drop-shadow(3px 3px 2px #000);
}

